<footer>
<div id="footer">
    <ul class="footer-content">
        {% if SITESUBTITLE %}
        <li class="elegant-subtitle"><span class="site-name">{{ SITENAME }}</span> - {{ SITESUBTITLE }}</li>
        {% endif %}
        {% if SITE_LICENSE %}
        <li class="elegant-license">{{ SITE_LICENSE }}</li>
        {% endif %}
        <li class="elegant-power">Powered by <a href="http://getpelican.com/" title="Pelican Home Page">Pelican</a>. Theme: <a href="http://oncrashreboot.com/pelican-elegant" title="Theme Elegant Home Page">Elegant</a> by <a href="http://oncrashreboot.com" title="Talha Mansoor Home Page">Talha Mansoor</a></li>
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258477177'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1258477177%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </ul>
</div>
</footer>
