<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright © <a href="{{ SITEURL }}">{{ SITENAME }}</a></span> | 
                <span>Powered by <a href="http://getpelican.com/" title="Pelican Home Page">Pelican</a></span> | 
                <span>主题基于<a href="http://oncrashreboot.com/pelican-elegant" title="Theme Elegant Home Page">Elegant</a></span> | 
                <span>设计来源于<a href="http://www.ghostchina.com">Ghost中文网</a></span>
            </div>
        </div>
    </div>
</div>
